body {

    font-family: Arial, sans-serif;

    line-height: 1.6;

    margin: 0;

    padding: 0;

}


header {

    background: #333;

    color: white;

    padding: 1rem 0;
    text-align: center;

}


header nav a {

    color: white;

    margin: 0 1rem;

    text-decoration: none;

}


main {

    padding: 1rem;

    text-align: center;

}


footer {

    background: #333;

    color: white;

    text-align: center;

    padding: 1rem 0;

    position: absolute;

    bottom: 0;

    width: 100%;
}